<h1 class="hdr-logo" role="banner">
    <a class="hdr-logo-link" href="/" title="Timber" rel="home">{{site.name}}</a>
</h1>
<nav id="access" class="main-navigation" role="navigation">
    <ul>
    {% for item in menu.items %}
        <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
            <a href="{{item.link}}">{{item.title}}</a>
        </li>
    {% endfor %}
    </ul>
</nav><!-- #access -->
