<h5><p><a href="{{item.source_url}}" target="blank">{{item.post_title}}</a>{{item.source_author ? ' <span class="meta">by ' ~ item.source_author ~ '</span>'}}</h5>
{{item.source_publication ? '<p>' ~ item.source_publication ~ '</p>'}}
{{item.source_blurb ? '<p>' ~ item.source_blurb ~ '</p>'}}