
{# Base tease template #}

{% set t_class = class %}

<article class="tease--{{post.post_type}}{{ t_class ? ' ' ~ class }}">

	{% block content %}
		{# The default markup for a tease. #}
		<h4><a href="{{post.link}}">{{post.post_title}}</a></h4>
		<p>{{post.header_summary}}</p>
		<a href="{{post.guid}}" class="btn btn--readmore">Read more...</a>

		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
	{% endblock %}
	
</article>

