<article class="tease tease--{{post.post_type}}" id="tease-{{post.ID}}">

	{% block content %}
		{# TODO: it's a hack to use guid here. It needs to be getting the link of the current ID or something. #}
		<h4><a href="{{post.guid}}">{{post.post_title}}</a></h4>
		<p>{{post.header_summary}}</p>
		<a href="{{post.guid}}" class="btn btn-readmore">Read more...</a>

		{% if post.thumbnail.src %}
			<img src="{{post.thumbnail.src}}" />
		{% endif %}
	{% endblock %}
	
</article>

