{% extends "blocks/block.twig" %}

{% block content %}

	{% set type = block.list_type %}
	{% set display = block.list_display %}

	{% if type == 'connected_content' %}
		{% set list = block.list_type_connected_content %}
	{% elseif type == 'free_form' %}
		{% set list = block.list_type_free_form %}
	{% endif %}

	{% if block.list_title %}
		<h4 class="list__title">{{block.list_title}}</h4>
	{% endif %}

	<ul class="list list-{{display}} list-{{list|length}}">

		{% for item in block.list_type_connected_content %}

			<h4>{{item.post_title}}</h4>
			<p>{{item.header_summary}}</p>

{# 			<li>
				<div class="item-support">
					{% if item.item_image %}
						<img class="lazy" src="{{TimberImage(item.image).src('medium')}}" src="{{site.theme.link}}/assets/img/util/loader.gif" width="300" alt="{{item.post_title}}" alt="{{item.post_title}}"/>
						<noscript><img src="{{TimberImage(item.image).src('medium')}}" alt="{{item.post_title}}" height="200" width="200"></noscript>
					{% endif %}
				</div>
				<div class="item-main">
					{% if type == 'artifacts' %}
						<h5 class="item-title">{{item.post_title}}</h5>
						<p>{{item.short_description}}</p>
					{% elseif type == 'free_form' %}
						<h5 class="item-title">{{item.item_title}}</h5>
						<p>{{item.description}}</p>
						{% for related in item.related_content %}
							{{related.link}}
							<p><a href="{{related.link}}" title="{{related.post_title}}">Read more on our {{related.post_title}} page.</a></p>
						{% endfor %}
					{% endif %}
				</div>
			</li> #}
		{% endfor %}
			
	</ul> <!-- /.list-{{display}} -->

{% endblock %}