{% extends "blocks/block.twig" %}

{% block content %}

	{% set type = block.list_type %}
	{% set display = block.list_display %}

	{% if block.list_title %}
		<h3 class="list__title">{{block.list_title}}</h3>
	{% endif %}

	{% if block.list_description %}
		<p class="list__description">{{block.list_description}}</p>
	{% endif %}

	<ul class="list list-{{display}} list-{{list|length}}">
		
		{% for item in block.list_type_freeform %}
			<li>
				<h5>{{item.item_title}}</h5>
				{{item.item_description}}
				{% if display == 'major' %}
					{{item.item_image}}
				{% endif %}
			</li>
		{% endfor %}

		{% for item in block.list_type_connected_content %}
			<li>
				{% include 'teases/_tease-' ~ item.post_type ~ '.twig' %}
			</li>
		{% endfor %}
			
	</ul> <!-- /.list-{{display}} -->

{% endblock %}