{% extends "blocks/block.twig" %}

{% block content %}
	{% if blck.text_format == 'caption'%}
		<figure>			
			<figcaption class="caption meta">{{blck.caption}}</figcaption>
			<img src="{{site.theme.link}}/assets/img/util/loader.gif" width="800" height="auto" class="lazy caption-image" data-original="{{TimberImage(blck.image).src|resize(800)}}" alt="">
			<noscript><img src="{{TimberImage(blck.image).src|resize(800)}}" alt="{{item.post_title}}" width="800"></noscript>
		</figure>
	{% elseif blck.text_format == 'paragraph'%}
		<h4>{{blck.text_heading}}</h4>
		<div class="textimage-image">
			<img class="lazy" src="{{site.theme.link}}/assets/img/util/loader.gif" width="600" height="auto" data-original="{{TimberImage(blck.image).src|resize(600)}}" alt="{{item.post_title}}" alt="{{item.post_title}}"/>
			<noscript><img src="{{TimberImage(blck.image).src|resize(600)}}" alt="{{item.post_title}}" width="600"></noscript>
		</div>
		{{blck.text}}
	{% endif %}
{% endblock %}